<nav  class="navbar navbar-inverse"> <div class="navbar-brand" >User Registration</div>
</nav>
<div id="register" class="container container-fluid" >
    <form action="/sent/sumbit" class="form-horizontal">
        <h1> Register </h1>
        <p class="form-group">
            <label for="userName" class="name"> User Name </label>
            <input type="text" name="userName" id="userName" required="required" placeholder="Enter Your Name" class="form-control">
        </p>
        <p class="form-group">
            <label for="userEmail" class="email"> Email Id </label>
            <input type="email" name="userEmail" id="userEmail" required="required" placeholder="Enter Your Email Id" class="form-control">
        </p>
        <p class="submit">
            <input type="submit" value="Register" class="btn btn-default" >
        </p>

    </form>
</div>

